body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #38d1dc;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    border: 3px solid black;
    box-shadow: 0 2px 10px rgba(10,10,10)
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
     
    
}

